modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0", "github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[objectStorage]
defaultBucketID = "replit-objstore-56e73a81-9377-411d-a41f-0c954bfadaa2"

[nix]
channel = "stable-25_05"
packages = ["ffmpeg"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BNqzON4Ww5zMvo6y9fpZ26uXjPzYSVicmzpDom4pYBjW9QR281oGVjwc0wBpBBWrWboCTOKgMKFV4vDFZkR85Uo"
VAPID_PRIVATE_KEY = "XrJoCAl5lq9lcpeSYbZi77PU0WPdEesQWwYMwiVqzlw"
VAPID_SUBJECT = "mailto:admin@hollr.chat"
BALLPOINT_ENCRYPTION_KEY = "fd3cdb533294315d6f0489830fe5125056ca65f239507dcaf8b13ae143a8c195"
FOLDR_ENCRYPTION_KEY = "3f8d5d08bed4e2248a9f2d26cf80cd7de528b5be2f242e7a1a08fab86a82fdb9"
ADMIN_USER_IDS = "6c88f933-4035-4384-9829-3b9bb2b7d11c"
