modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[objectStorage]
defaultBucketID = "replit-objstore-56e73a81-9377-411d-a41f-0c954bfadaa2"

[nix]
channel = "stable-25_05"
packages = ["ffmpeg"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BNqzON4Ww5zMvo6y9fpZ26uXjPzYSVicmzpDom4pYBjW9QR281oGVjwc0wBpBBWrWboCTOKgMKFV4vDFZkR85Uo"
VAPID_PRIVATE_KEY = "XrJoCAl5lq9lcpeSYbZi77PU0WPdEesQWwYMwiVqzlw"
VAPID_SUBJECT = "mailto:admin@hollr.chat"
